:root {
  --black-0: #000000;
  --white-0: #ffffff;
}

/* General */
.tableContainer {
  background-color: var(--white-0);
}

.tableTitle {
  font-size: 24px;
  font-weight: 700;
}

.tableWrapper {
  margin-top: 24px;
}

.tableElement {
  width: 100%;
  border-collapse: collapse;
}

/* Header */
.tableHead {
  background-color: var(--black-0);
}

.headerRow {
  border: 1px solid var(--black-0);
}

.headerCell {
  color: var(--white-0);
  font-size: 14px;
  border-right: 1px solid var(--white-0);
  height: 45px;
  text-align: left;
  padding-left: 16px;
}

/* Body */
.bodyRow {
  border: 1px solid var(--black-0);
}

.bodyCell {
  font-size: 14px;
  border-right: 1px solid var(--black-0);
  height: 45px;
  text-align: left;
  padding-left: 16px;
}
